
<% if params[:controller] == "about" %>
  <div class="well">
    <h3>You can contribute to the BookstoreForNeedies</h3>
    <p>Contac us :</p>
    <ul>
      <li> Casablanca, Morocco</li>
      <li> Omar K. </li>
    </ul>
  </div>
<% end %>

<% if params[:controller] == "books" && params[:action] =="index" || params[:action] == "show" %>
  <div class="list-group">
    <% @categories.each do |category| %>
      <%= link_to category.name, category_path(category.id), class: 'list-group-item' %>
    <% end %>
  </div>
<% end %>
