/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


.center_page {
  height:80vh;
}

body {
  padding-top:45px;
  font-size:18px;
  font-family:"Monorails";
  line-height: 1.1em;
}

header, footer {
  background: #333;
  color: #fff;
}




.footer {
  position: absolute;
  width:100%;
  bottom:0;
  margin-top: 0px; /* negative value of footer height */
  height: 60px;
  clear:both;
  padding-top:20px;
}


#books-image {
  text-align: center;
}

#books-index {
  img {
  width: 100%;
}

  h3 {
    height: 50px;
  }

 .btn {
  display: block;
  margin-top:20px;
 }



}


.books-show-left {
  float:left;
  width: 40%;
}

.books-show-right {
  float:left;
  width: 60%;
  margin-top: 10px;
}


#books-show {
  .btn {
    margin: 20px 0px 0px 70px;
  }


 h2{
  background:#f4f4f4;
  padding: 10px;
 }
}
